.introduce {
    width: 90%;
    height: 50vh;
    background-image: url('./images/banner-bg.jpg');
    background-size: cover;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#welcome {
    font-size: 20px;
}
#titleIntroduce {
    font-size: 40px;
    width: 40%;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
#buttonBrowse {
    width: 13%;
    height: 40px;
    font-size: 18px;
    background-color: rgb(255, 57, 126);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-left: 10%;
    color: white;
}

#welcome , #titleIntroduce {
    padding-left: 10%;
}
#buttonBrowse {
    text-decoration: none;
}

#buttonBrowse:hover {
    background-color: white;
    color: rgb(255, 57, 126);
    cursor: pointer;
}

@media only screen and (max-width: 820px) {
    .introduce {
        height: 25vh;
    }
    #titleIntroduce {
        font-size: 25px;
    }
    #buttonBrowse {
        width: 25%;
        height: 30px;
    }
}
@media screen and (max-width: 420px) {
    #titleIntroduce {
        font-size: 18px;
    }
    #buttonBrowse {
        width: 120px;
        font-size: 13px;
    }
}